.contact-page{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .left{
        
        max-width:400px;

        hr{
            margin-top:8px;
            width:159px;
        }

        img{
            padding-top:45px;
        }

        p{
            font-family: GillSansUB;
            padding-top:35px;
            padding-bottom:100px;
        }

        h1{
            font-family: ProximaNovaECT;
            font-size: 30px;
        }
    }

    .right{
        padding-top:154px;
        max-width:529px;


        input{
            @include contactform();

        }

        .message{
            height:200px;
        }

        .submit{
            @include site-button();
            width:168px;
            height:60px;
            padding-top:20px;
            padding-bottom:20px;


        }
    }
}